.container {
	background-image: url('../../assets/images/bg-home.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.wrapper {
		position: relative;
		z-index: 1;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}
